@media screen and (min-width: 500px) {
   
  #page-heading {
      text-align: left;
      width: fit-content;
  }
  #page-subheading {
      text-align: left;
      width: fit-content;         
  }

  .photo-container{
      width: fit-content;
      position: absolute;
  }

  .contact{
      height: fit-content;
      width: fit-content;
      position: relative;
      left: 35%;
      top: 115%;

  }
  
  .main-photo {
      position: relative;
  }
)
