@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Mate:ital@1&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-color: white(240, 234, 234);

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.logo {
    height: 100px;
    width: 100px;
}

li {
    font-family: 'Cinzel', serif;
    font-style: normal;
    display: inline-block;
    color: red;
    font-size: 30px;
    margin: 15px;
  

}

main> #page-heading{ 
    font-family: 'Cinzel', serif;
    font-style: bold;
    font-size: 75px;
    text-shadow: solid black; 
    margin: 20px;
    text-align: center;
    
}

#page-subheading{ 
    font-family: 'Cinzel', serif;
    font-style: normal;
    font-size: 30px;
    margin: 20px;
    text-align: center;
    
}

.photo-container {
    display: flex;
    justify-content: center;

}

.main-photo {
    margin: 35px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: solid black;

}

.contact p {
    margin-top: 50px;
}

.socials {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 50px;
    border: solid black;
}

footer p {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 50px;
}


/* about css*/
.body-text{
    font-size: 25px;
    font-family: 'Mate', serif;
}

/* blog css*/

.blog-container{
    display: flex;
    flex-direction: column;
}

.blog-link {
    margin-top: 100px;
    margin-bottom: 0px;
    height: 300px;
    width: 300px;
    border-radius: 15%;
    border: solid black;

}

.caption {
        font-size: 16px;
  

}

.blog-link:hover{
    transform: scale(1.2);
}


/*@media screen and (min-width: 500px) and (max-width: 899px) {
    main {
        display: inline-block;
        direction: row;
    }

}*/

/*.about {
    text-align: center;
}
/*





