@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Mate:ital@1&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-color: white(240, 234, 234);
   

}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.logo {
    height: 100px;
    width: 100px;
}

.logo:hover{
 
        transform: scale(1.2);
}

li {
    font-family: 'Cinzel', serif;
    display: inline-block;
    font-size: 30px;
    margin: 15px;
}

li:hover{
    transform: scale(1.2);

}

#page-heading{ 
    font-family: 'Cinzel', serif;
    font-style: bold;
    font-size: 75px;
    margin: 20px;
    text-align: center;
    /*border: black solid;*/
}

#page-subheading{ 
    font-family: 'Cinzel', serif;
    font-size: 30px;
    margin: 20px;
    text-align: center;
    /*border: black solid;*/

    
}

.photo-container {
    display: flex;
    justify-content: center;
    /*border: black solid;*/
   /* height: fit-content;
    width: fit-content;
    position: absolute;*/

}

.main-photo {
    margin: 35px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: solid black;

}

.contact p {
    margin-top: 50px;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 25px;

}

.socials {
    display: flex;
    justify-content: center;
    margin: 50px;
    /*border: solid black;*/
}

footer p {
    display: flex;
    justify-content: center;
    margin: 50px;
}



/* about css*/
.body-text{
    font-size: 25px;
    font-family: 'Mate', serif;
    text-align: center;
}

/* blog css*/

.blog-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 188, 149);
    border-radius: 5%;
}

.blog-link {
    margin-top: 100px;
    margin-bottom: 0px;
    height: 300px;
    width: 300px;

}

.caption {
    
    font-size: 16px;
  

}

.blog-link:hover{
    transform: scale(1.2);
}

.body-text-blog{
    font-size: 16px;
    border-radius: 1.5%;
    text-align: left;
}








