* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    background-color: white(240, 234, 234);
    
}

.logo {
    height: 70px;
    width: 70px;
}

header {
    text-align: center;
    font-size: 2rem; 
}

li {
    display: inline-block;
    color: black; 

}

h1, h3 {
    position: relative;
    margin: 35px;
    font-family: 'Domine', serif;
    
    
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 35px;
    
}

.main-photo {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.about-photo {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}


.contact {
    margin-top: 50px;
    border-color: black;
    border-bottom: solid;
}



.socials {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 50px;
    border-bottom: solid;
}

footer p {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 50px;
}

/*@media screen and (min-width: 500px) and (max-width: 899px) {
    main {
        display: inline-block;
        direction: row;
    }

}*/

.about {
    text-align: center;
}




  